<mat-form-field 
  class="search-field w-full"
  [class.autocomplete-open]="isAutocompleteOpen()"
>
  <input
    #autocompleteTrigger="matAutocompleteTrigger"
    matInput
    [formControl]="searchControl"
    [matAutocomplete]="auto"
    (keydown.enter)="onSearch()"
    class="search-input"
    [placeholder]="placeholder()"
  />
  <mat-icon matPrefix [svgIcon]="'heroicons_outline:magnifying-glass'" />
  @if ((searchControl.value?.trim()?.length ?? 0) > 0 && !isLoadingAutocomplete()) {
    <button matButton="icon" matSuffix (click)="clearSearch()">
      <mat-icon [svgIcon]="'heroicons_outline:x-mark'" />
    </button>
  }
  @if (isLoadingAutocomplete()) {
    <mat-progress-spinner matSuffix mode="indeterminate" diameter="20"></mat-progress-spinner>
  }
  <mat-autocomplete 
    #auto="matAutocomplete" 
    [displayWith]="displayFn"
    panelClass="autocomplete-panel"
    (opened)="onAutocompleteOpened()"
    (closed)="onAutocompleteClosed()"
  >
    @for (suggestion of suggestions(); track suggestion) {
      <mat-option [value]="suggestion" (click)="onSuggestionClick(suggestion)">
        <mat-icon [svgIcon]="'heroicons_outline:magnifying-glass'" />{{ suggestion }}
      </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>