@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        tertiary: mat.$cyan-palette,
        primary: mat.$orange-palette,
        theme-type: dark,
      ),
      typography: (
        font-family: 'Quicksand',
      ),
    )
  );
}

body {
  color-scheme: dark;
  background-color: var(--mat-sys-surface);
  background-image: linear-gradient(
    to bottom,
    var(--mat-sys-surface-container-high),
    var(--mat-sys-surface)
  );
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.sidebar-slide-in {
  animation: slideInFromRight 0.5s ease-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}

.animate-fade-in-up {
  animation: fadeInUp 0.5s ease-out forwards;
  opacity: 0;
}

.delay-1 {
  animation-delay: 0.2s;
}

.delay-2 {
  animation-delay: 0.4s;
}

.delay-3 {
  animation-delay: 0.6s;
}

.text-primary {
  color: var(--mat-sys-primary);
}
