<div class="flex md:flex-row flex-col-reverse gap-8">
  <div class="flex flex-col gap-4 w-full">
    @for (result of results(); track result.url) {
      <app-search-result [result]="result"></app-search-result>
    }
  </div>
  @if (information().length > 0) {
    <mat-accordion class="md:w-1/2 w-full">
      @for (info of information(); track info.infobox) {
        <mat-expansion-panel class="result-card">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="text-sm truncate">{{ info.infobox }}</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="flex flex-col gap-4">
            @for (attribute of info.attributes; track attribute.label) {
              <div class="flex flex-col gap-0">
                <span class="text-sm text-gray-400/80 font-bold">{{ attribute.label }}</span>
                <span class="text-sm">{{ attribute.value }}</span>
                @if (attribute.image) {
                  <img [src]="attribute.image.src" [alt]="attribute.image.alt" class="max-w-full max-h-32 object-contain rounded-md">
                }
              </div>
            }
          </div>
        </mat-expansion-panel>
      }
    </mat-accordion>
  }
</div>
