<div class="flex flex-col gap-0">
  <app-search-header
    (onSearch)="onSearch($event)"
    (onClear)="onClear()"
    class="animate-fade-in-up"
    [class.header-scrolled]="showHeaderBackground()"
  ></app-search-header>
  <mat-tab-group
    mat-stretch-tabs="false"
    mat-align-tabs="start"
    [selectedIndex]="activeTab()"
    (selectedTabChange)="onTabChange($event)"
  >
    @for (tab of tabs; track tab.value) {
      <mat-tab>
        <ng-template matTabLabel>
          <div class="flex items-center gap-2 animate-fade-in-up delay-1">
            <mat-icon [svgIcon]="tab.icon"></mat-icon>
            <span class="text-sm font-medium">{{ tab.label }}</span>
          </div>
        </ng-template>
        <div
          class="flex flex-col gap-4 tab-data"
          [class.h-dvh]="isLoading() && results().length === 0"
        >
          @if (isLoading()) {
            <mat-progress-bar mode="indeterminate" class="mx-auto"></mat-progress-bar>
          }
          @if (results().length !== 0) {
            @switch (tab.value) {
              @case (SearchCategory.AI) {
                <app-ai-tab class="animate-fade-in-up delay-2"></app-ai-tab>
              }
              @case (SearchCategory.General) {
                <app-general-tab class="animate-fade-in-up delay-2"></app-general-tab>
              }
              @case (SearchCategory.Images) {
                <app-images-tab class="animate-fade-in-up delay-2"></app-images-tab>
              }
              @case (SearchCategory.Videos) {
                <app-general-tab class="animate-fade-in-up delay-2"></app-general-tab>
              }
              @case (SearchCategory.News) {
                <app-general-tab class="animate-fade-in-up delay-2"></app-general-tab>
              }
              @case (SearchCategory.Music) {
                <app-general-tab class="animate-fade-in-up delay-2"></app-general-tab>
              }
              @case (SearchCategory.Science) {
                <app-general-tab class="animate-fade-in-up delay-2"></app-general-tab>
              }
            }
          }
        </div>
      </mat-tab>
    }
  </mat-tab-group>
  @if (selectedImageResult(); as result) {
    <app-search-image-result-detail
      class="fixed inset-0 z-[10000] flex justify-end bg-black/50"
      (keydown.escape)="onCloseImageDetail()"
      (click)="onCloseImageDetail()"
    ></app-search-image-result-detail>
  }
</div>
