<div class="flex flex-col gap-0">
  <div class="sticky top-0 z-10 flex sm:flex-row flex-col items-center gap-8 animate-fade-in-up md:px-10 sm:px-8 px-4 pt-4 transition-all duration-300" [class.header-scrolled]="showHeaderBackground()">
    <a [routerLink]="['/']">
      <img src="assets/images/KCDSearchLogo.png" alt="KCD Search" class="w-36">
    </a>
    <app-search class="md:w-1/2 w-full sm:mt-4 -mt-4" [initialValue]="query()" (search)="onSearch($event)" (clear)="onClear()" />
  </div>
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" [selectedIndex]="activeTab()" (selectedTabChange)="onTabChange($event)">
    @for (tab of tabs; track tab.value) {
      <mat-tab>
        <ng-template matTabLabel>
          <div class="flex items-center gap-2 animate-fade-in-up delay-1">
            <mat-icon [svgIcon]="tab.icon"></mat-icon>
            <span class="text-sm font-medium">{{ tab.label }}</span>
          </div>
        </ng-template>
        <div class="flex flex-col gap-4 tab-data" [class.h-dvh]="isLoading() && results().length === 0">
          @if (isLoading()) {
            <mat-progress-bar mode="indeterminate" class="mx-auto"></mat-progress-bar>
          }
          @if (results().length !== 0) {
            @switch (tab.value) {
              @case (SearchCategory.AI) {
                <app-ai-tab class="animate-fade-in-up delay-2"></app-ai-tab>
              }
              @case (SearchCategory.General) {
                <app-general-tab class="animate-fade-in-up delay-2"></app-general-tab>
              }
              @case (SearchCategory.Images) {
                <app-images-tab class="animate-fade-in-up delay-2"></app-images-tab>
              }
            }
          }
        </div>
      </mat-tab>
    }
  </mat-tab-group>
</div>
